page-produtos {

    .title-card{
        margin:auto;    
        text-align: center;
        font-weight: bolder;
    }

    .fab-create{
        display: block;
        margin-right: 5%;
        margin-bottom: 5%;
    }

}
